<form style="margin-top: 200px; text-align: center; " #RegisterForm="ngForm" (ngSubmit)="Register(RegisterForm.value)">
    <label for="username">Username :- </label>
    <input type="text" name="username" ngModel><br><br><br>
    <label for="password">Set password:- </label>
    <input type="text" name="password" ngModel><br><br><br>
    <label for="role">Choose Your Role :-</label>
    <select id="role" name="role" [(ngModel)]="role">
        <option value="user_normal">user</option>
        <option value="Admin">Admin</option>
    </select><br> <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>